<script type="text/ejs" id="result">
  <ul class="result-list">
    [% for (let i = 0, len = stockList.length; i < len; i++) { %]
    <li class="result-item" id="hidden-item">
      <img class="item-image" src="[%= stockList[i].img %]"/>
      <div class="check-field">
        <div class="item-check" data-item-img="[%= stockList[i].img %]" data-item-title="[%= stockList[i].title %]" data-item-url="[%= stockList[i].url %]"><i class="fa fa-check" aria-hidden="true"></i></div>
      </div>
      <div class="item-title-box">
        <span class="item-title">[%= stockList[i].title %]</span>
      </div>
      <a href="[%= stockList[i].url %]"></a>
    </li>
    [% } %]
  </ul>
</script>
  