<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./lib/hifive/h5.css">
  <link rel="stylesheet" href="./css/main.css">
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Ramabhadra&display=swap" rel="stylesheet">
  <title>通勤アプリ</title>
</head>

<body>
  <div id="app">
    <header>
      <img src="img/rect4784-6.png" class="tk-icon">
      <p class="header-title">ILLUST-YA</p>
      <div class="right-icon">
        <i class="fa fa-bars"></i>
      </div>
    </header>
    <div class="hidden-menu">
      <ul class="hidden-menu-list">
        <li class="hidden-menu-list-item" id="now-point">ILLUST-YA</li>
        <li class="hidden-menu-list-item"><a href="/stock">stock illustration</a></li>
        <li class="hidden-menu-list-item"><a href="/chat">ILLUST-CHAT</a></li>
        <li class="hidden-menu-list-item" ><a href="/kinmu">TSU-KIN</a></li>
      </ul>
    </div>
    <div class="search-box">
      <form class="search-form">
        <textarea placeholder="enter keyword here" class="search-query-input"></textarea>
        <button type="submit" class="search-button">search</button>
      </form>
    </div>
    <div class="search-result">
    </div>
    <div class="stock-decide-form">
        <button class="stock-button">STOCK</button>
    </div>
  </div>
  <script src="./lib/jquery/jquery-2.2.4.js"></script>
  <script src="./lib/hifive/ejs-h5mod.js"></script>
  <script src="./lib/hifive/h5.dev.js"></script>
  <script src="./js/sample.js"></script>
  <script src="./js/logic/IrasutoyaLogic.js"></script>
  <script src="./js/logic/CreateStockLogic.js"></script>
  <script src="./js/controller/IrasutoyaApplicationController.js"></script>
  <script src="./js/controller/ListAddController.js"></script>
  <script src="./js/controller/ImageStockController.js"></script>
  <script src="./js/controller/TrainController.js"></script>
  <script src="./js/controller/ImageClickController.js"></script>
  <script src="./js/index.js"></script>
  <script src="./js/sample.js"></script>
</body>

</html>